ngx-flip {
    height: 400px;
    width: 200px;
}

.front {
    background-color: lightgreen;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: lightblue;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}