<div class="flash-card">
    <mat-card>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle color="primary">
            </mat-slide-toggle>
            <button mat-icon-button color="primary" (click)="editCard()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCard()">
                <mat-icon>delete_forever</mat-icon>
            </button>

        </mat-card-actions>
    </mat-card>
</div>