<div class="flash-card">
    <mat-card>
        <mat-card-content>
            <p>
                {{ card.front }}
            </p>
            <p>
                {{ card.back }}
            </p>
            <p>
                <span *ngFor="let hint of card.hints">
                    {{ hint.hint }}
                </span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle color="primary">
            </mat-slide-toggle>
            <button mat-icon-button color="primary" (click)="editCard()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCard()">
                <mat-icon>delete_forever</mat-icon>
            </button>

        </mat-card-actions>
    </mat-card>
</div>