<div class="flash-card">
    <mat-card>
        <mat-card-content>
            <ngx-flip [flip]="flipStatus">
                <div front class="front-card">
                    <div class="front-card-color">
                        <div class="card-content">
                            {{card.front}}
                        </div>
                    </div>
                </div>
                <div back class="back-card">
                    <div class="back-card-color">
                        <div class="card-content">
                            {{card.back}}
                        </div>
                    </div>
                </div>
            </ngx-flip>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle color="primary" (change)="flipCard()">
            </mat-slide-toggle>
            <button mat-icon-button color="primary" (click)="editCard()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCard()">
                <mat-icon>delete_forever</mat-icon>
            </button>

        </mat-card-actions>
    </mat-card>
</div>