<div>
    <mat-card>
        <mat-card-content>
            <ngx-flip [flip]="flipDiv">
                <div front class="front-card">
                    <div class="front-card-color">
                        <div class="card-content">
                            {{card ? card.front : ''}}
                        </div>
                    </div>
                </div>
                <div back class="back-card">
                    <div class="back-card-color">
                        <div class="card-content">
                            {{card ? card.back : ''}}
                        </div>
                    </div>
                </div>
            </ngx-flip>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle color="primary" (change)="rotate()">
            </mat-slide-toggle>
            <button mat-icon-button color="primary" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>