.flash-card {
    padding: 10px;
  }
  mat-card-actions {
      padding: 5px 10px;
  }
  ngx-flip {
    width: 500px;
    height: 200px;
}

.front-card {
    height: calc(100% - 22px);
    padding: 15px;
    border: 5px solid #E1BEE7;
}
.back-card{
    height: calc(100% - 22px);
    background-color: #E1BEE7;
    padding: 20px;
}

.back-card-color {
    height: 100%;
    overflow: auto;
}

.front-card-color {
    height: 100%;
    overflow: auto;
}