<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content style="background-color: whitesmoke;">
        <mat-toolbar color='primary'>
            <mat-toolbar-row>
                <span>Flash Cards</span>

                <div class="flash-menu">
                    <button mat-button *ngIf="authService.isLoggedIn()" routerLink="/">Home</button>
                    <button mat-button *ngIf="authService.isLoggedIn()" routerLink="/review">Review</button>
                    <button mat-button color="primary" *ngIf="authService.isLoggedIn() 
                    && authService.currentUser.role === 'admin'" routerLink="/users">Users</a>
                </div>
                <span class="example-spacer"></span>
                <a mat-raised-button color="primary" *ngIf="!authService.isLoggedIn()" routerLink="/login">Sign In</a>
                <h2 class="smalltext" style="color: white;" *ngIf="authService.isLoggedIn()">Welcome :
                    {{authService.currentUser.name}}
                </h2>
                <a mat-raised-button color="warn" *ngIf="authService.isLoggedIn()" routerLink="/login"
                    (click)="authService.logout()">Sign Out</a>
                <a mat-raised-button color="primary" *ngIf="!authService.isLoggedIn()" routerLink="/signup">Sign Up</a>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="layoutContent">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>